.canvas-parent {
  border: 1px solid #000;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.parent-button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #3498db;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  width: 640px;
}

.space {
  margin: 5px;
}

.parent-button:hover {
  background-color: #3498db;
  color: #fff;
  border-color: #fff;
}

.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 16px;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox-input:checked + .checkmark {
  background-color: #2196F3; 
  border: 1px solid #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-input:checked + .checkmark:after {
  display: block;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}